@media only screen and (max-width: 1525px) {
  /* line 4, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 165px;
  }
}
@media only screen and (max-width: 1510px) {
  /* line 14, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 160px;
  }
}
@media only screen and (max-width: 1465px) {
  /* line 24, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 155px;
  }
}
@media only screen and (max-width: 1455px) {
  /* line 34, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 1410px) {
  /* line 44, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 145px;
  }
}
@media only screen and (max-width: 1380px) {
  /* line 54, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 140px;
  }
}
@media only screen and (max-width: 1340px) {
  /* line 64, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 135px;
  }
}
@media only screen and (max-width: 1310px) {
  /* line 74, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 130px;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 84, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 125px;
  }
}
@media only screen and (max-width: 1250px) {
  /* line 94, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 120px;
  }
  /* line 98, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    width: 634;
    height: 760px;
  }
  /* line 102, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1215px) {
  /* line 113, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 115px;
  }
  /* line 116, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    width: 624;
    height: 720px;
  }
}
@media only screen and (max-width: 1190px) {
  /* line 127, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 110px;
  }
  /* line 130, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    width: 620;
    height: 710px;
  }
}
@media only screen and (max-width: 1150px) {
  /* line 141, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 100px;
  }
  /* line 144, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    width: 614;
    height: 700px;
  }
}
@media only screen and (max-width: 1100px) {
  /* line 155, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 95px;
  }
  /* line 158, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    width: 604;
    height: 680px;
  }
}
@media only screen and (max-width: 1050px) {
  /* line 168, ../../scss/responsive/banner.scss */
  .banner_container .banner_details {
    margin-top: 10px;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 174, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 178, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text {
    width: 80%;
    text-align: center;
  }
  /* line 183, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .right_details {
    display: none;
  }
}
@media only screen and (max-width: 1030px) {
  /* line 193, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 85px;
  }
}
@media only screen and (max-width: 1010px) {
  /* line 203, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 75px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 213, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 223, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 65px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 232, ../../scss/responsive/banner.scss */
  .banner_container .banner_details {
    margin-top: 20px;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 237, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 850px) {
  /* line 247, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 655px;
    height: 750px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 258, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 605px;
    height: 750px;
  }
}
@media only screen and (max-width: 720px) {
  /* line 271, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_header {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 10px;
  }
  /* line 277, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_context {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 690px) {
  /* line 291, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 555px;
    height: 700px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 302, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 485px;
    height: 680px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 313, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 435px;
    height: 650px;
  }
  /* line 319, ../../scss/responsive/banner.scss */
  .banner_container .banner_details {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  /* line 323, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details {
    margin-top: 80px;
  }
  /* line 327, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_header {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  /* line 333, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_context {
    height: auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 490px) {
  /* line 351, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text {
    width: auto;
  }
  /* line 353, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_header {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  /* line 359, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_text .left_context {
    height: auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 450px) {
  /* line 376, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 365px;
    height: 450px;
  }
}
@media only screen and (max-width: 440px) {
  /* line 387, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 365px;
    height: 550px;
  }
  /* line 394, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_link_container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 400, ../../scss/responsive/banner.scss */
  .banner_container .banner_details .left_details .left_link_container .left_links_1 {
    margin-bottom: 15px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 413, ../../scss/responsive/banner.scss */
  .banner_container .banner_rep .banner_path {
    width: 285px;
    height: 590px;
  }
}

/*# sourceMappingURL=resp_banner.css.map */