@media only screen and (max-width: 1525px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 165px;
      }
    }
  }
}

@media only screen and (max-width: 1510px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 160px;
      }
    }
  }
}

@media only screen and (max-width: 1465px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 155px;
      }
    }
  }
}

@media only screen and (max-width: 1455px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 150px;
      }
    }
  }
}

@media only screen and (max-width: 1410px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 145px;
      }
    }
  }
}

@media only screen and (max-width: 1380px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 140px;
      }
    }
  }
}

@media only screen and (max-width: 1340px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 135px;
      }
    }
  }
}

@media only screen and (max-width: 1310px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 130px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 125px;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 120px;
      }

      .right_details {
        width: 634;
        height: 760px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1215px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 115px;
      }
      .right_details {
        width: 624;
        height: 720px;
      }
    }
  }
}

@media only screen and (max-width: 1190px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 110px;
      }
      .right_details {
        width: 620;
        height: 710px;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 100px;
      }
      .right_details {
        width: 614;
        height: 700px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 95px;
      }
      .right_details {
        width: 604;
        height: 680px;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .banner_container {
    .banner_details {
      margin-top: 10px;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;

      .left_details {
        margin-left: 90px;
        align-items: center;

        .left_text {
          width: 80%;
          text-align: center;
        }
      }
      .right_details {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 85px;
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 75px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 70px;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .banner_container {
    .banner_details {
      .left_details {
        margin-left: 65px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .banner_container {
    .banner_details {
      margin-top: 20px;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      .left_details {
        margin-left: 0px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 655px;
        height: 750px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 605px;
        height: 750px;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .banner_container {
    .banner_details {
      .left_details {
        .left_text {
          .left_header {
            font-size: 45px;
            line-height: 55px;
            margin-bottom: 10px;
          }

          .left_context {
            font-size: 17px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 555px;
        height: 700px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 485px;
        height: 680px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 435px;
        height: 650px;
      }
    }

    .banner_details {
      margin-top: 0px;
      margin-bottom: 30px;

      .left_details {
        margin-top: 80px;

        .left_text {
          .left_header {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 10px;
          }

          .left_context {
            height: auto;
            padding: 0 10px;
            box-sizing: border-box;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 490px) {
  .banner_container {
    .banner_details {
      .left_details {
        .left_text {
          width: auto;
          .left_header {
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 10px;
          }

          .left_context {
            height: auto;
            padding: 0 10px;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 365px;
        height: 450px;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 365px;
        height: 550px;
      }
    }
    .banner_details {
      .left_details {
        .left_link_container {
          width: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .left_links_1 {
            margin-bottom: 15px;
            margin-right: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .banner_container {
    .banner_rep {
      .banner_path {
        width: 285px;
        height: 590px;
      }
    }
  }
}
