@media only screen and (max-width: 1100px) {
  .footer_container {
    padding: 68px 30px;
  }
}

@media only screen and (max-width: 720px) {
  .footer_container {
    padding: 30px 30px;

    .first_container {
      flex-direction: column;

      .company {
        margin-bottom: 10px;
      }

      .landing {
        margin-bottom: 10px;
      }
    }

    .footer_rectangle {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .last_container {
      flex-direction: column;

      .footer_menu {
        margin-bottom: 20px;

        .footer_item {
          &:nth-child(2) {
            margin: 0 50px;
          }
        }
      }
    }
  }
}
