@media only screen and (max-width: 1525px) {
  .lfp_container {
    padding-left: 165px;
  }
}
@media only screen and (max-width: 1510px) {
  .lfp_container {
    padding-left: 160px;
  }
}
@media only screen and (max-width: 1465px) {
  .lfp_container {
    padding-left: 155px;
  }
}
@media only screen and (max-width: 1455px) {
  .lfp_container {
    padding-left: 150px;
  }
}
@media only screen and (max-width: 1410px) {
  .lfp_container {
    padding-left: 145px;
  }
}
@media only screen and (max-width: 1380px) {
  .lfp_container {
    margin: 40px 0;
    padding-left: 140px;

    .lfp_right {
      width: 530px;
      height: 490px;
    }
  }
}
@media only screen and (max-width: 1340px) {
  .lfp_container {
    padding-left: 135px;
  }
}

@media only screen and (max-width: 1330px) {
  .lfp_container {
    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          width: 510px;
        }

        .lfp_left_top_content {
          width: 510px;
        }
      }

      .lfp_left_bottom {
        width: 510px;
      }
    }

    .lfp_right {
      width: 520px;
      height: 470px;
    }
  }
}

@media only screen and (max-width: 1310px) {
  .lfp_container {
    padding-left: 130px;
  }
}

@media only screen and (max-width: 1300px) {
  .lfp_container {
    justify-content: space-between;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1280px) {
  .lfp_container {
    padding-left: 125px;
  }
}

@media only screen and (max-width: 1250px) {
  .lfp_container {
    padding-left: 120px;
  }
}

@media only screen and (max-width: 1190px) {
  .lfp_container {
    padding-right: 0px;

    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          width: 490px;
        }

        .lfp_left_top_content {
          width: 490px;
        }
      }

      .lfp_left_bottom {
        width: 490px;

        .lfp_bottom_left {
          width: 245px;

          .lfp_bottom_header {
            width: 245px;
          }

          .lfp_bottom_content {
            width: 245px;
          }
        }
      }
    }

    .lfp_right {
      width: 460px;
      height: 450px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .lfp_container {
    padding-right: 0px;

    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          width: 470px;
        }

        .lfp_left_top_content {
          width: 470px;
        }
      }

      .lfp_left_bottom {
        width: 470px;

        .lfp_bottom_left {
          width: calc(470px / 2);

          .lfp_bottom_header {
            width: calc(470px / 2);
          }

          .lfp_bottom_content {
            width: calc(470px / 2);
          }
        }
      }
    }

    .lfp_right {
      width: 430px;
      height: 440px;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .lfp_container {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 30px;

    .lfp_left {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      .lfp_left_top {
        .lfp_left_top_header {
          width: 580px;
          font-size: 33px;
        }

        .lfp_left_top_content {
          width: 580px;
          font-size: 15px;
        }
      }

      .lfp_left_bottom {
        width: 590px;

        .lfp_bottom_left {
          justify-content: center;
          align-items: center;
          width: calc(590px / 2);

          .lfp_bottom_header {
            width: calc(590px / 2);
          }

          .lfp_bottom_content {
            width: calc(590px / 2);
          }
        }
      }
    }

    .lfp_right {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .lfp_container {
    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          font-size: 28px;
        }

        .lfp_left_top_content {
          font-size: 14px;
        }
      }

      .lfp_left_bottom {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;

        .lfp_bottom_left {
          &:nth-child(1) {
            margin-right: 0px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .lfp_container {
    padding: 0 20px;
    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          width: auto;
          height: auto;
          font-size: 25px;
        }

        .lfp_left_top_content {
          width: auto;
          height: auto;
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .lfp_container {
    padding: 0 20px;
    .lfp_left {
      .lfp_left_top {
        .lfp_left_top_header {
          margin-bottom: 0px;
          font-size: 22px;
        }

        .lfp_left_top_content {
          width: auto;
          height: auto;
          font-size: 14px;
        }
      }
    }
  }
}
