@media only screen and (max-width: 1100px) {
  .price_container {
    height: 580px;
    margin-top: 0px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 100% 850px;
  }
}

@media only screen and (max-width: 900px) {
  .price_container {
    .price_header {
      font-size: 34px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .price_container {
    .price_header {
      text-align: center;
      width: 100%;
      font-size: 31px;
    }

    .price_content {
      text-align: center;
      width: 80%;
      height: auto;
      font-size: 16px;
      margin-bottom: 36px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .price_container {
    .price_header {
      font-size: 29px;
    }

    .price_content {
      font-size: 15px;
    }

    .price_bar {
      font-size: 45px;
    }

    .price_name {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .price_container {
    height: 560px;
  }
}

@media only screen and (max-width: 400px) {
  .price_container {
    .price_content {
      margin-bottom: 20px;
    }
  }
}
