.banner_container {
  max-width: 1520px;
  width: 100%;
  height: auto;
  overflow: hidden;

  .banner_rep {
    width: 100%;
    max-width: 1520px;
    z-index: -11;
    position: relative;

    .banner_path {
      position: absolute;
      z-index: -10;
      width: 945px;
      height: 980px;
      right: 0px;
      opacity: 0.5px;
    }
  }

  .banner_details {
    width: 100%;
    max-width: 1520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 140px;
    box-sizing: border-box;

    .left_details {
      display: flex;
      flex-direction: column;
      margin-top: 90px;
      margin-left: 170px;

      .left_text {
        width: 539px;
        display: flex;
        flex-direction: column;

        .left_header {
          color: #091133;
          font-size: 50px;
          font-style: normal;
          font-weight: 500;
          line-height: 66px;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }

        .left_context {
          color: #505f98;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 70px;
        }
      }
      .left_link_container {
        display: flex;
        flex-direction: row;

        .left_links_1 {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 185px;
          height: 32px;
          border-radius: 5px;
          border: 2px solid #111b47;
          background-color: #111b47;
          margin-right: 30px;
          transition: all 0.3s ease;

          &:hover,
          &:focus {
            background-color: white;
            color: #111b47;
          }
        }
        .left_links_2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 189px;
          height: 32px;
          border-radius: 5px;
          border: 2px solid #091133;
          transition: all 0.3s ease;

          &:hover,
          &:focus {
            background-color: #091133;
            color: white;
          }
        }
      }
    }
  }
}
